
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.ubiquitous-container{
    max-width: 1140px;
    padding: 0 15px;
    height: 100%;
    margin: 0 auto;

    &--no-padding{
        padding: 0;
        max-width: 1440px;
    }
} 

.btn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 2px;
    padding: 10px 16px;
    border: 0;
    color: white;
    &--secondary{
        background-color: $secondary-color;
    }

    &--form{
        width: 100%;
        border: 0;
        color: white;
    }

    &--wide{
        padding: 10px 35px;
    }
}




