$primary-color: #231F20;
$secondary-color: #AE1B21;

$block-primary-color: #22262E;
$block-primary-color-opaque: rgba(34, 38, 46, 0.9);
$block-secondary-color: #313439;

$text-primay-color: white;

$card-margin: 30px;
